/*** All ***/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}
/*** All ***/

/*** Variables ***/
:root {


}
/*** Variables ***/

/*** Header ***/

/*** Header ***/

/*** Navigation ***/
.mainNavigation {

    text-transform: uppercase;
    background-color: black;
}

.mainNavigation ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    
}

.mainNavigation li {
    padding: 30px 0;
}

.mainNavigation a {

    text-decoration: none;
    color: white;
    
}
/*** Navigation ***/

/*** Hero ***/

/*** Hero ***/

/*** Functions ***/

/*** Functions ***/

/*** Team ***/

/*** Team ***/

/*** Form ***/

/*** Form ***/

/*** Footer ***/

/*** Footer ***/