/*** All ***/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}
/*** All ***/

/*** Variables ***/
:root {
    --color-primary: #041256;
    --color-light: #1345E4;
    --color-dark: #06219E;
    --color-font-light: #E9E9EC;
    --color-font-border: #D08A59;
    --color-button: #D64A17;

    --font-header: 'Coda Caption', sans-serif;
    --font-body: 'Marvel', sans-serif;

    --gutter: 1rem;
}
/*** Variables ***/

/*** Header ***/

/*** Header ***/

/*** Navigation ***/


/*** Navigation ***/

/*** Hero ***/

/*** Hero ***/

/*** Functions ***/

/*** Functions ***/

/*** Team ***/

/*** Team ***/

/*** For ***/

.mainForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-color: var(--color-primary);
}

.mainForm_header {
    font-family: var(--font-header);
    color :var(--color-font-light);
    font-display;
    margin-bottom: var(--gutter);
    text-align: center;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: var(--gutter);
}


/* .contactForm_label { */
    /* font-family: var(--font-body);
    display: flex;
    justify-content: space-between;
    width: 100%
} */


.contactForm_input {
    width: 100%;
}

.contactForm_message {
    height: 100px;
    width: 100%;
}

.contactForm_input::placeholder {
    font-family: var(--font-body);
}

.contactForm_message::placeholder {
    font-family: var(--font-body);
}

/*** Form ***/

/*** Footer ***/

/*** Footer ***/