/*** All ***/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}
/*** All ***/

/*** Variables ***/
:root {


}
/*** Variables ***/

/*** Header ***/

/*** Header ***/

/*** Navigation ***/


/*** Navigation ***/

/*** Hero ***/

/*** Hero ***/

/*** Functions ***/

/*** Functions ***/

/*** Team ***/

/*** Team ***/

/*** Form ***/

/*** Form ***/

/*** Footer ***/

/*** Footer ***/