/*** All ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {

  scroll-behavior: smooth;
}



/*** All ***/

/*** Variables ***/
:root {
  --color-primary: #041256;
  --color-light: #1345E4;
  --color-dark: #06219E;
  --color-font-light: #E9E9EC;
  --color-font-border: #D08A59;
  --color-button: #D64A17;

  --font-header: 'Coda Caption', sans-serif;
  --font-body: 'Marvel', sans-serif;
  
  --gutter: 1rem;
}

/*** Variables ***/

/*** Header ***/

/*** Header ***/

/*** Navigation ***/

.nav {
  height: 90px;
  width: 100%;
  background-color: #01091C;
  position: sticky;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 12px;
  color: transparent;
  padding: 20px;
  background-image: url("photos/LogoWhite.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1rem 1rem;
  
}
.nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
  margin-left: 5rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 40px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  border-top: var(--color-button) solid 3px;
  color: var(--color-font-border);
  opacity: 0.6;
  transition: 0.4s;

}

.nav > #nav-check {
  display: none;
}



@media (max-width:1024px) {

  .nav {
    height: 60px;
    width: 100%;
    background-color: #01091C;
    position: sticky;
    top: 0;
  }


  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 12px;
    color: transparent;
    padding: 20px;
    background-image: url("photos/LogoWhite.svg");
    width: 60px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 1rem;
    
  }

  .nav > .nav-links {
    display: inline;
    font-size: 18px;
    margin: 0;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 5px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--color-button)
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(55vh - 50px);
    overflow-y: auto;
  }
}



/*** Navigation ***/

/*** Hero ***/

.mainHero {
  background: url(photos/heroImage.jpeg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mainHero__title {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-font-light);
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  margin: 0 5%;
  text-align: center;
  font-size: 2rem;
}

.mainHero__productName {
  color: var(--color-font-light);
  font-family: 'Staatliches', cursive;
  margin: 9rem 5% 0;
  text-align: center;
  font-size: 4rem;
}

.mainHero__button {
  background: var(--color-button);
  color: var(--color-font-light);
  font-family: var(--font-header);
  box-shadow: 5px 0px 20px var(--color-font-border);
  display: block;
  max-width: 14rem;
  margin: 5% auto 15%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  padding: .5em 2em;
  text-decoration: none;
  animation: text 700ms ease-in-out infinite alternate;
}

.mainHero__button:hover {
  box-shadow: 0 0 0;
}

.shape {
  transform: skew(-20deg);
}

.mainHero__buttonText {
  display: inline-block;
  transform: skew(20deg);
}

.mainHero__content {
  font-size: 1rem;
}

@keyframes text {
  from {
    color: var(--color-font-light);
  }

  to {
    color: transparent;
  }
}

.mainHero__asidePicture {
  display: none;
}

@media (min-width: 992px) {
  .mainHero {
    background: none;
  }

  .mainHero__container {
    height: 100vh;
    width: 60%;
    background: url(photos/heroImage.jpeg) no-repeat center center;
    background-size: cover;
  }

  .mainHero__content {
    height: 100vh;
    background: #01091C;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .mainHero__title {
    font-size: 4rem;
    text-align: right;
    max-width: 60%;
    -webkit-text-stroke: 1px var(--color-font-border);
  }

  .mainHero__productName {
    font-size: 6rem;
    text-align: right;
    margin: 5% 5% 0;
  }

  .mainHero__button {
    margin: 5% 5% 10% 0;
    width: 25rem;
  }

  .mainHero__btn {
    margin: 0 5%;
  }

  .mainHero__content {
    margin-top: 0;

  }

}


/*** Hero ***/

/*** Functions ***/

/*** Functions ***/

/*** Team ***/

.team__container {
    height: 900px;
    background-color: #E9E9EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#041256;
}

.team__headline {
    width: 60%;
}

.team__headline--header {
    font-size: 3rem;
    font-family: var(--font-header);
    margin-top: 1rem;
    justify-content: space-around;
}

.team__headline--paragraph {
    font-size: 3rem;
    font-family: var(--font-body);
    line-height: 4rem;
    padding-top: 1rem;
}

.team__gallery {
    display: flex;    
    width: 90%;
    align-content: center;    
    justify-content: space-around;
    margin: 2rem;
}

.team__member {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-items: center;
    width: 300px;
    height: 300px;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.team__member:hover {
    transform: translateY(1rem); 
}

.team__member :hover :before {
    opacity: 1;
}

.team__member:hover .team__text {
    opacity: 1;
    transform: translateY(0);
}

.team__member:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    object-fit: cover;
    display: block;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.team__member img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.team__text {
    align-self: stretch;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(3rem);
    transition: 0.5s;
    color: #E9E9EC;
}

.team__text h4 {
    text-align: center;
    margin: 0;
    padding: 0.2rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--font-body);
    letter-spacing: 0.5vw;
}

.team__text p {
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--font-body);
    letter-spacing: 0.5vw;
}

.team__text a {
    text-align: center;
    color: #E9E9EC;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
}

.team__text a i {
    color: #E9E9EC;
    align-self: center; 
}

/*** Team ***/

/*** For ***/

.mainForm {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: space-around;
    background-color: var(--color-primary);
    
}

.mainForm_header {
    font-family: var(--font-header);
    -webkit-text-stroke: 1px var(--color-font-border);
    color :var(--color-font-light);
    margin-bottom: var(--gutter);
    text-align: center;
    font-size: 2.5rem;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: var(--gutter);
}


.contactForm_input {
    height: 3rem;
    width: 100%;
    margin-top: 10px;
}

.contactForm_message {
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.contactForm_input::placeholder {
    font-family: var(--font-body);
}

.contactForm_message::placeholder {
    font-family: var(--font-body);
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-content: center;
}

.formButton {
    background-color: var(--color-button);
    border: none;
    color: var(--color-font-light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    max-width: 50%;
    border-radius: 12px;
  }

@media (max-width: 1024px) {
    .contactForm {
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .team__container {
        height: 100%;
        padding-bottom: 2rem;
    }
    
    .team__headline {
        width: 100%;
    }

    .team__headline--header {
        font-size: 2rem;
        margin-top: 20px;
    }

    .team__headline--paragraph {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 1rem;
    }

    .team__gallery {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
        margin: 0;
    }

    .team__member {
        height: 200px;
        width: 300px;
        margin-top: 2rem;
        position: relative;
        align-items: flex-end;
        transition: none;
    }

    .team__member:hover {
        transform: none; 
    }
    
      
    .team__member:hover .team__text {
        transform: none;
    }
    
    .team__member:before {
        transition: none;
    }

    .team__text h4 {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

/*** Form ***/

/*** Form ***/

/*** Footer ***/

/*** Footer ***/